<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unity3d.plugin.downloader"
    android:versionCode="1"
    android:versionName="1.0">
    <application>
        <activity android:name="com.unity3d.plugin.downloader.UnityDownloaderActivity" />
        <service android:name="com.unity3d.plugin.downloader.UnityDownloaderService" />
        <receiver android:name="com.unity3d.plugin.downloader.UnityAlarmReceiver" />
    </application>
    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>
